<li class="nav-item">
    <a class="nav-link" href="index.html">
        Home
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="about.html">
        About
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="projects.html">
        portfolio
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="service.html">
        services
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="posts.html">
        news
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="carrier.html">
        Career
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="contact.html">
        contact
    </a>
</li>